
@font-face{ /*Font for website*/
    font-family: "HYWenHei-85W";
    src: url("../Genshin-Impact-Font/zh-cn.ttf")
}

/*CSS for login*/

.MYloginlogo{ /*Login page logo*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.MYlogin{ /*Login page*/
    background-color: #3e3c46;
    font-family: "HYWenHei-85W";
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MYform{ /*Form section*/
    background-color: #ffffff;
    padding: 5vh;
    border-radius: 10px;
    
}

.MYloginbtn{ /*Log in button*/
    margin-top: 5vh; /* Space the button out */
    border: none; /*Button format and style*/
    border-radius: 10px;
    height: 40px; 
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    color: #3e3c46;
    background-color: #e2dfd6;
}

/*CSS for profile*/

.MYprofilepage{ /*Profile page*/
    background-color: #3e3c46;
    font-family: "HYWenHei-85W";
    padding-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MYback{ /*Back arrow*/
    margin-top: -30vh;
    margin-left: -46vw;
    width: 4.5vw;
    height: 10vh;
}

.MYprimocount{ /*Primogems counter*/
    margin-top: -20vh;
    margin-right: -90vw;
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MYshopprimo{ /*Primogem image*/  
    width: 80px;  
}

.MYprimos{ /*Primogem Number*/
    margin-top: 1vh;
    font-size: 20px;
    color: #e2dfd6;
}

.MYshopcont{ /*Shop Container*/
    text-align: center;
}

.MYshop{ /*Conversion option*/
    font-size: 30px;
    margin-top: 5vh; /* Space the button out */
    border: none; /*Button format and style*/
    border-radius: 10px;
    height: 20vh; 
    width: 60vw;
    color: #3e3c46;
    background-color: #e2dfd6;
}

.MYsignout{ /*Accept help button*/
    font-size: 25px;
    margin-top: 14vh; /* Space the button out */
    border: none; /*Button format and style*/
    border-radius: 10px;
    height: 10vh; 
    width: 20vw;
    color: #3e3c46;
    background-color: #ff7d7d;
}

.MYshop:hover{
    background-color: #c5c0b0; /*Changes the color of the button when hovered over*/
}

.MYsignout:hover{
    color: #e2dfd6;
    background-color: #a64848; /*Changes the color of the button when hovered over*/
}

/*CSS for homepage*/

.MYprofilecont{ /*Profile Icon Container*/
    display: flex;
    justify-content: flex-end;
}

.MYprofilelink{ /*Profile Icon <a>*/
    margin-top: -3vh;
    margin-right: -3vh;
    position: fixed;
}

.MYprofile{ /*Profile Icon*/
    margin-top: 3vh;
    margin-right: 3vh;
    width: 7vw;
}

.MYlogocont{ /*Slimepedia logo container*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.MYlogo{ /*Slimepedia Logo*/
    margin-top: 15vh;
    position: fixed;
}

.MYbtn{ /*Homepage Buttons*/
    border: none; /*Button format and style*/
    border-radius: 20px;
    min-height: 50px; 
    min-width: 220px;
    font-size: 20px;
    position: fixed;
    color: #3e3c46;
    background-color: #e2dfd6;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    font-family: "HYWenHei-85W";
}

.MYbtna{ /*Homepage Buttons <a>*/
    min-height: 50px; /*Button <a> format and style*/
    min-width: 220px;
    font-size: 20px;
    position: fixed;
}

.MYbtncont{ /*Button container*/
    display: flex; /*Center the buttons*/
    align-items: center;
    flex-direction: column;
}

#MYbtn1{ /*The uppermost button*/
    margin-top: 50vh; /*Shifts the buttons down */
}

#MYbtn2{ /*The 2nd button*/
    margin-top: 60vh; /*Shifts the buttons down */
}

#MYbtn3{ /*The 3rd button*/
    margin-top: 70vh; /*Shifts the buttons down */
}

.MYbtn:hover{
    background-color: #c5c0b0; /*Changes the color of the button when hovered over*/
}

.MYbg{ /*Background Image*/
    display: block;
    width: 100%;
    height: 100%;
    position: fixed; /*Prevents the BG from being scrolled*/
    z-index: -1; /*Moves the BG behind the buttons*/
}

/*CSS for character_trivia*/

.MYcdcont{ /*Countdown Timer Container*/
    display: flex; /*Center the box*/
    align-items: center;
    flex-direction: column;
}

.MYcd{ /*Countdown Timer*/
    font-size: 25px; /*Countdown format and style*/
    margin-top: 8vh;
    z-index: 2;
    border-radius: 20px;
    height: 50px; 
    width: 200px;
    position: absolute;
    color: #3e3c46;
    background-color: #e2dfd6;
    font-family: "HYWenHei-85W";
    overflow: hidden;
    text-align: center;
    display: flex; /*Center the box*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.MYbook{ /*Book BG*/
    display: block;
    width: 100%;
    height: 100%;
    position: absolute; /*Prevents the BG from being scrolled*/
    z-index: -1; /*Moves the BG behind the buttons*/
}

.MYqncont{ /*Question Box Container*/
    display: flex; /*Center the box*/
    align-items: center;
    flex-direction: column;
}

.MYqn{ /*Question box*/
    border: none; /*Question Box format and style*/
    border-radius: 20px;
    height: 30vh; 
    width: 70vw;
    font-size: 32px;
    margin-top: 12vh;
    z-index: 1;
    position: absolute;
    color: #3e3c46;
    background-color: #e2dfd6;
    font-family: "HYWenHei-85W";
    overflow: hidden;
    text-align: center;
    display: flex; /*Center the box*/
    align-items: center;
    justify-content: center;
}

.MYopts{ /*Character Trivia Buttons*/
    border: none; /*Button format and style*/
    border-radius: 20px;
    min-height: 80px; 
    min-width: 500px;
    font-size: 20px;
    position: absolute;
    color: #3e3c46;
    background-color: #e2dfd6;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    font-family: "HYWenHei-85W";
}

.MYoptcont{ /*Options Container*/
    display: flex; /*Center the buttons*/
    align-items: center;
    flex-direction: column;
}

#MYopt1{ /*The 1st Option*/
    margin-top: 50vh; /*Shifts the buttons down and left */
    margin-right: 35vw; 
    z-index: 1;
}

#MYopt2{ /*The 2nd Option*/
    margin-top: 50vh; /*Shifts the buttons down and right */
    margin-left: 35vw; 
    z-index: 1;
}

#MYopt3{ /*The 3rd Option*/
    margin-top: 68vh; /*Shifts the buttons down and left */
    margin-right: 35vw; 
    z-index: 1;
}

#MYopt4{ /*The 4th Option*/
    margin-top: 68vh; /*Shifts the buttons down and right */
    margin-left: 35vw; 
    z-index: 1;
}

.MYopts:hover{
    background-color: #c5c0b0; /*Changes the color of the button when hovered over*/
}

.MYhelpcont{ /*The Help Container*/
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 88vh;
    margin-left: 20vw;
}

.MYhelp{ /*The help button*/
    border: none; /*Button format and style*/
    z-index: 1;
    border-radius: 20px;
    min-height: 40px; 
    min-width: 100px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    background-color: #3e3c46;
    color: #e2dfd6;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
    font-family: "HYWenHei-85W";
    display: flex; /*Center the text*/
    align-items: center;
    justify-content: center;
}

.MYhelpa{ /*Character Trivia Help <a>*/
    min-height: 40px; /*Button <a> format and style*/
    min-width: 100px;
    font-size: 20px;
    position: fixed;
}

.MYhelp:hover{
    color: #3e3c46;
    background-color: #c5c0b0; /*Changes the color of the button when hovered over*/
}

/*CSS for ask_help*/

.MYaskhelppage{ /*Ask Help page*/
    background-color: #3e3c46;
    font-family: "HYWenHei-85W";
    padding-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MYaskhelp{ /*Ask Help section*/
    background-color: #ffffff;
    padding: 5vh;
    border-radius: 10px;
    text-align: center;
}

.MYaskhelpbtn{ /*Accept help button*/
    margin-top: 5vh; /* Space the button out */
    border: none; /*Button format and style*/
    border-radius: 10px;
    height: 40px; 
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
    color: #3e3c46;
    background-color: #e2dfd6;
}

.MYaskhelpbtn:hover{
    background-color: #c5c0b0; /*Changes the color of the button when hovered over*/
}

/*Profile page*/
@media (max-width: 1000px) { /*For smaller screen widths*/
    .MYback{ /*Back arrow*/
        margin-left: -44vw;
        width: 6vw;
        height: 10vh;
    }
    .MYprimocount{ /*Primogems counter*/
        margin-top: -20vh;
        margin-right: -80vw;
    }
    .MYshop{ /*Conversion option*/
        font-size: 27px;
    }
    .MYsignout{ /*Sign out button*/
        font-size: 23px;
    }
}

@media (max-width: 650px) { /*For even smaller screen widths*/
    .MYback{ /*Back arrow*/
        margin-top: -35vh;
        margin-left: -44vw;
        width: 10vw;
        height: 8vh;
    }
    .MYprimocount{ /*Primogems counter*/
        margin-top: -20vh;
        margin-right: -75vw;
    }
    .MYshopprimo{ /*Primogem image*/  
        width: 70px;  
    }
    .MYprimos{ /*Primogem Number*/
        margin-top: 1vh;
        font-size: 18px;
        color: #e2dfd6;
    }
    .MYshop{ /*Conversion option*/
        width: 78vw;
        font-size: 25px;
    }
    .MYsignout{ /*Sign out button*/
        width: 40vw;
        font-size: 22px;
    }
}

/*Character Trivia @media*/
@media (max-width: 1500px) { /*For smaller screen widths*/
    .MYopts{ /*For Options*/
        border-radius: 20px;
        min-height: 80px; 
        min-width: 400px;
        font-size: 18px;
    }
}

@media (max-width: 1200px) { /*For smaller screen widths*/
    .MYopts{ /*For Options*/
        border-radius: 20px;
        min-height: 80px; 
        min-width: 350px;
        font-size: 16px;
    }
    .MYqn{
        font-size: 27px;
    }
}

@media (max-width: 1050px) { /*For smaller screen widths*/
    #MYopt1{
        margin-right: 40vw;
    }
    #MYopt2{
        margin-left: 40vw;
    }
    #MYopt3{
        margin-right: 40vw;
    }
    #MYopt4{
        margin-left: 40vw;
    }
}

@media (max-width: 900px) { /*For even smaller screen widths*/
    .MYopts{ /*For Options*/
        border-radius: 20px;
        min-height: 80px; 
        min-width: 320px;
        font-size: 16px;
    }
    #MYopt1{
        margin-right: 45vw;
    }
    #MYopt2{
        margin-left: 45vw;
    }
    #MYopt3{
        margin-right: 45vw;
    }
    #MYopt4{
        margin-left: 45vw;
    }
}

@media (max-width: 730px) { /*For even even smaller screen widths*/
    .MYbook{ /*Book BG*/
        display: block;
        object-position: -15vw;
        width: 220%;
        height: 100%;
        position: fixed; /*Prevents the BG from being scrolled*/
        z-index: -1; /*Moves the BG behind the buttons*/
    }
    .MYopts{ /*For Options*/
        border-radius: 20px;
        min-height: 50px; 
        min-width: 70vw;
        font-size: 16px;
    }
    #MYopt1{
        margin-top: 45vh;
        margin-right: 0vw;
    }
    #MYopt2{
        margin-top: 55vh;
        margin-left: 0vw;
    }
    #MYopt3{
        margin-top: 65vh;
        margin-right: 0vw;
    }
    #MYopt4{
        margin-top: 75vh;
        margin-left: 0vw;
    }
    .MYqn{
        font-size: 22px;
    }
    .MYhelpcont{
        margin-top: 90vh;
        margin-left: 50vw;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px) { /*For even even even smaller screen widths*/
    .MYopts{ /*For Options*/
        border-radius: 20px;
        min-height: 50px; 
        min-width: 85vw;
        font-size: 14px;
    }
}

/*Homepage @media*/

@media (max-width: 1000px) { /*For smaller screen widths*/
    .MYbg{ /*Background Image*/
        display: block;
        width: 1540px;
        height: 100%;
        position: fixed; /*Prevents the BG from being scrolled*/
        z-index: -1; /*Moves the BG behind the buttons*/
    }
}

@media (max-width: 850px) { /*For even smaller screen widths*/
    .MYprofile{ /*Profile Icon*/
        width: 10vw;
    }
}

@media (max-width: 600px) { /*For even even smaller screen widths*/
    .MYlogo{ /*Slimepedia Logo*/
        width: 85vw;
        margin-top: 15vh;
        position: fixed;
    }
    .MYprofile{ /*Profile Icon*/
        width: 15vw;
    }
}

@media (max-width: 500px) { /*For even even even smaller screen widths*/
    .MYlogo{ /*Slimepedia Logo*/
        width: 85vw;
        margin-top: 20vh;
        position: fixed;
    }
}

@media (max-width: 400px) { /*For even even even even smaller screen widths*/
    .MYprofile{ /*Profile Icon*/
        width: 20vw;
    }
}